body {
    width: 100%;
    margin: 0;
    background: url("img/background.svg") 40% 10%;
}
.container {
    max-width: 100%
}
header {
    background: url("img/header.svg") top center;
    background-size: cover;
    height: 75px;
}
input {
    float: right;
    background: url("img/search.png") rgba(255, 255, 255, 0.1) 10px 10px no-repeat;
    box-shadow: none;
    border: none;
    border-radius: 30px;
    padding-left: 2rem;
    margin-bottom: 20px;
    color: #fff;
    font-size: 0.9em;
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
}
#input-search {
    text-indent: 30px;
}
input:focus {
    outline: 2px solid transparent;
    border: 2px solid #e3624f;
    border-radius: 30px;
}
nav {
    width: 75%;
    margin: 0 auto;
}
nav ul li {
    display: inline-block;
    text-decoration: none;
}
a {
    color: #fff
}
a:hover {
    text-decoration: none;
    color: #fff;
}
ul li {
    padding: 7px 2px 15px 2px;
    margin-left: 35px;
    font-size: 1.7rem;
    font-weight: 100;
    letter-spacing: 1px;
}
li {
    margin-top: 17px;
}
.logo {
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 50px;
    float: left;
    width: 10%;
    height: 10%;
}
input:hover {} .text-center p {
    font-size: 3rem;
}
.get-started-top {
    padding: 1em;
    padding-bottom: 0.5em;
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0 0 4px 2px #DDDDDD;
}
.get-started-top p {
    font-size: 1em;
    margin: 1em 0;
    padding: 0px 30px;
    text-align: center;
}
.get-started-bottom {
    background-color: #E46651;
    width: 300px;
    margin: 0 auto;
    padding: 5px 10px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}
.get-started-bottom p {
    font-size: 1.5rem;
    font-family: courier;
    color: #fff;
    text-align: left;
    line-height: 10px;
    padding: 10px 10px 2px 10px;
    margin: 0;
}
p button {
    margin: 10px;
}
button {
    background-color: transparent;
    border: 1px solid #DDD;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 5px 10px;
    color: #f23818;
    text-align: center;
}
button:hover {
    color: #fff;
    background-color: #E46651;
}
h1 {
    color: #666;
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-align: center;
}
h3 {
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 2.1rem;
    letter-spacing: 2px;
}
.col-md-4 {
    margin-top: 80px;
    padding: 0;
    margin: 0;
}
.row {
    width: 860px;
    margin: 0 auto;
    padding-top: 50px;
}
p.rows {
    width: 75%;
    text-align: center;
    margin-top: 20px;
    color: #252525;
}
.job-banner {
    margin-left: 20px;
    float: left;
}
.intro p {
    margin: 0 auto;
    width: 600px;
    font-size: 5rem;
    font-weight: 100;
    line-height: 60px;
    margin-bottom: 40px;
    color: #252525;
}
span {
    font-weight: 400;
    font-size: 4.5rem;
    color: #252525;
}